/* p{
    color: red;
    width: 50%;
    border: 0.5px solid black;
}
li{
    color: rgb(250, 29, 102);
}
*/
html{
    font-size: 10px;
    font-family: placeholder;
    background-color: #7dc0ff;    
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    align-self: flex-end;
    font-size: 30px;
}
nav{
    display: flex;
    position: relative;
}
.navitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.navitem:hover{
    top: -3px;    
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding:20px 0;
    color:#278367;
    text-shadow: 3px 3px 1px rgb(44, 44, 44); /*位移X 位移Y 模糊半徑 顏色*/
}
p,li{
    font-size:16px;
    line-height: 2;
    letter-spacing:1px;
}
body{
    width: auto;/*600px;*/
    margin: 5% auto; /*1.上下 2.左右*/
    background-color: #ffffff;
    padding:10px 20px 20px 50px; /*top right btm left*/
    border: 5px double gray;
}
img{
    display: block;
    margin: 0 auto;
} 
.highlight{
    color: green;
}
.highlight_red{
    color: rgb(184, 4, 4);
}



