/* p{
    color: red;
    width: 50%;
    border: 0.5px solid black;
}
li{
    color: rgb(250, 29, 102);
}
*/
html{
    font-size: 10px;
    font-family: placeholder;
    background-color: #ffffff;    
}
.header_div{    
    justify-content: space-between;
    display: flex;
    width: 700px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border:1px solid black; */
    margin: 0;     
    position:absolute;
    top:50%;
    left:50%;
     transform: translate(-50%, -50%); 
    /* margin-right: -50%; */
}
section.Main{
    /* border:1px solid black; */
    width: 700px;
    margin: 0;     
    position:absolute;
    /*top:50%;*/
    left:50%;
    transform: translate(-50%, 0%); 
}
.logo{
    align-self: flex-end;
    font-size: 30px;    
    text-decoration: underline;
    color:#3face8;
    text-shadow: 3px 3px 1px rgb(191, 191, 191); /*位移X 位移Y 模糊半徑 顏色*/
    /* background-color: #464646;   */   
}
nav{
    display: flex;
    position: relative;
}
.navitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:0 10px;        
}
.navitem:hover{
    top: -3px;    
}
.navitem_icon{
    /* width: 100px;
    height: 88px;
    background-size: auto;
    background-image: url(images/navitem-logo-1.png); */
        /* background-image: url("dogs.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: 5px -2px; */
}
/* nav .navitem:nth-child(2) .navitem_icon{
    background-position: 5px -24px;
}
nav .navitem:nth-child(3) .navitem_icon{
    background-position: 5px -45px;
}
nav .navitem:nth-child(4) .navitem_icon{
    background-position: -42px -45px;
}
nav .navitem:nth-child(5) .navitem_icon{
    background-position: -44px -23px;
} */

h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding:20px 0;
    color:#278367;
    text-shadow: 3px 3px 1px rgb(44, 44, 44); /*位移X 位移Y 模糊半徑 顏色*/
}
p,li{
    font-size:18px;
    line-height: 2;
    letter-spacing:1px;
}
body{
    /* width: auto;/*600px;*/
    /*margin: 5% auto; /*1.上下 2.左右*/
    background-color: #ffffff;
    /*padding:10px 20px 20px 50px; /*top right btm left*/
    /*border: 5px double gray;  */
}
img{
    display: block;
    margin: 0 auto;
} 
.img-me-cut{
    height:350px;
    overflow: hidden;
    border: 1.5px solid rgb(255, 255, 255);
}

.img-me-cut img{
    margin-top:-15%;
}

.highlight{
    color: green;
}
.highlight_red{
    color: rgb(184, 4, 4);
}



